@model HomeIndexViewModel

@{
    ViewData["Title"] = "Página Principal";
}

<h2>Ejemplo 1</h2>
<div>
    Guid transitorio: <b style="color:palevioletred">@Model.EjemploGuid_1.Transitorio</b>
</div>
<div>
    Guid delimitado: <b style="color:mediumseagreen">@Model.EjemploGuid_1.Delimitado</b>
</div>
<div>
    Guid unico: <b style="color:cornflowerblue">@Model.EjemploGuid_1.Unico</b>
</div>

<h2>Ejemplo 2</h2>
<div>
    Guid transitorio: <b style="color:palevioletred">@Model.EjemploGuid_2.Transitorio</b>
</div>
<div>
    Guid delimitado: <b style="color:mediumseagreen">@Model.EjemploGuid_2.Delimitado</b>
</div>
<div>
    Guid unico: <b style="color:cornflowerblue">@Model.EjemploGuid_2.Unico</b>
</div>


<partial name="_Presentacion"/>

<partial name="_Habilidades" />

<partial name="_SeccionProyectos" model="Model.Proyectos" />